<div id="app_section1"></div>
<div id="app_section2"></div>
<div id="app_section3"></div>
<div id="app_section4"></div>
<div id="app_section5"></div>
<div id="app_section6"></div>
<div id="app_section7"></div>
<div id="app_section8"></div>
<div id="app_section9"></div>
<div id="app_section10"></div>
<div id="app_section11"></div>
<div id="app_section12"></div>
<div id="app_section13"></div>
<div id="app_section14"></div>
<div id="app_section15"></div>
<div id="app_section16"></div>
<div id="app_section17"></div>
<div id="app_section18"></div>
<div id="app_section19"></div>
<div id="app_section20"></div>
<div id="app_section21"></div>
<div id="app_section22"></div>
<div id="app_section23"></div>
<div id="app_section24"></div>
<div id="app_section25"></div>



 

<style>
    .form_choix{
         width:40%; 
         margin:auto; 
         text-align: center;       
     }
     .class_connexion:hover,.class_inscription:hover{
        cursor:pointer ; 
        background-color: white;
        color:brown; 
        cursor:pointer; 

     }
</style>
